server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/account-service-DB
    username: postgres
    password: max228488
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/