server:
  port: 8080

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:9000/.well-known/jwks.json
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enable: true
              lower-case-service-id: true
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=1

            - id: account-service
              uri: lb://account-service
              predicates:
                - Path=/api/accounts/**
                - Path=/api/cards/**
              filters:
                - StripPrefix=1

            - id: transaction-service
              uri: lb://transaction-service
              predicates:
                - Path=/api/transactions/**
              filters:
                - StripPrefix=1

            - id: payment-service
              uri: lb://payment-service
              predicates:
                - Path=/api/payments/**
              filters:
                - StripPrefix=1

            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=1

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

app:
  security:
    jwt:
      issuer: "https://auth.luminabank.com"
      jwks-uri: ${spring.security.oauth2.resourceserver.jwt.jwk-set-uri}
  #    jwks-uri: "http://localhost:9000/.well-known/jwks.json"